* {
    padding: 0;
    margin: 0;
    font-size: 30px;
    color: rgb(233, 220, 233);
    font-weight: 700;
}

.main{
    background:linear-gradient(rgba(7, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("/262202.jpg");
    position: fixed;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}

/* converted main box start------------------------- */

.converter {
    height: 28pc;
    width: 36pc;
    background-color: rgba(158, 158, 158, 0.4);
    margin: 10pc auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    border:3px solid black ;
    box-shadow: inset 10px 3px 50px 7px rgb(35, 34, 34);
}

.converter h1 {
    margin: 10px auto;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    font-size: 50px;
}

.border{
    outline: none;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    font-weight: 900;
}


@media  screen and (max-width:768px) {
    .converter{
        height: 34pc;
        width: auto;
        margin:10% 10%;
    }
}
/* ---------converter main box end----------- */


/* -----amount--type--result--width--only------- */
.amount,
.type, .result {
    width: 100%;
    margin: 0 40px;
}



/* ------data panels input sizing equally START------- */


.amount input {
    width: 60%;
}

.result input{
    width: 60.5%;
}

#from,
#to {
    width: 26.3%;
    text-align: center;
    background-color: rgb(33, 31, 31);
    border: none;
    outline: none;
    border-radius: 10px;

}
/* ------data panels input sizing equally END------- */



/* -----label shifting to little right for input START----- */

#amount_label{
    margin-right: 9px;
}

#from_label{
    margin-right: 31px;
}

#result_label{
    margin-right: 22px;
}

/* -----label shifting to little right for input END----- */


#btn{
    width: 61%;
    margin: 1pc 7.7pc;
    background-color: transparent;
    outline: none;
    border-radius: 10px;
    border: none;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

#btn:hover{
    background-color: rgb(221, 199, 170);
    color: rgb(56, 37, 9);
}

/* ------------END--------------------------- */